html, body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(210, 46%, 95%);
    line-height: 1.3;
    font-size: 13px;
}


img {
    border-radius: 50%;
    width: 40px;
    border: 2px solid;
    float: left;
}


/* FLEX CONTAINER  */
.section {
    display: flex;
    flex-direction: column;
}


/* GRID CONTAINER  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: 3%;
    column-gap: 2.5%;
    row-gap: 2.5%;
}



/* CARDS  */
.card {
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    border-radius: 8px;
    padding: 10% 8%;
    box-shadow: 0 0 3px RGB(202,217,234);
    
}

.card-header h5 {
    margin: 0;
    padding: 4px 0px 4px 60px;
    font-size: 1rem;
}

.card-name {
    margin-left: 12%;
}

.card-status {
    margin-left: 12%;
}

.card.card-blurb {
    margin: 6%, 0, 0, 0;
}


.card-status {
    color: hsla(0, 0%, 81%, 50%);
} 

.card-text  {
    color: hsla(0, 0%, 81%, 70%);
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
}




/* INDIVIDUAL CARDS  */
/* DANNY CARD  */
.card.danny-card {
    grid-area: 1/1/1/3;
    background-color: hsl(263, 55%, 52%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 13%;
}

.danny-card .card-name {
    color: rgb(252, 224, 255);

}

.danny-card .card-status {
    color: rgb(252, 224, 255, 0.5);
}

.card.danny-card .card-blurb {
    margin: 0;
    color: rgb(255, 246, 255);

}

.card.danny-card .card-text {
    color: rgba(252, 224, 255, 0.7);
}

.danny-card img {
    border-color: rgba(252, 224, 255, 50%);
}



/* JOHNNY CARD  */
.johnny-card {
    color: hsl(210, 46%, 95%);
}

.card.johnny-card {
    grid-area: 1/3/1/4;
    background-color: hsl(217, 19%, 35%);
}

.johnny-card .card-status {
    color: hsla(210, 46%, 95% ,50%);
}

.johnny-card .card-text {
    color: hsla(210, 46%, 95%, 70%);
}


/* JEAN CARD  */
.card.jean-card {
    grid-area: 2/1/2/2;
}

.jean-card {
    color: hsl(219, 29%, 14%);
}

.jean-card .card-status {
    color: hsla(219, 29%, 14%, 50%);
}

.jean-card .card-text {
    color: hsla(219, 29%, 14%, 70%);
}

.jean-card img {
    border-color: white;
}


/* PATTY CARD  */
.card.patty-card {
    grid-area: 2/2/2/4;
    background-color: hsl(219, 29%, 14%);
}

.patty-card img {
    border-color: hsl(263, 55%, 52%);
}

.patty-card { 
    color: hsl(210, 46%, 95%);
}



/* KIRA CARD  */
.card.kira-card {
    grid-area: 1/4/3/5;
}

.kira-card {
    color: hsl(219, 29%, 14%);
}

.kira-card .card-status {
    color: hsla(210, 29%, 14%, 50%);
}

.kira-card .card-text {
    color: hsla(219, 29%, 14%, 70%);
}

.kira-card img {
    border-color: white;
}




/* FOOTER  */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }






/* MEDIA QUERIES  */
@media only screen and (max-width: 900px) {
.section {
    flex-direction: row;
}

   .card.danny-card{
       grid-area:  1/5/1/1;
   }
   
   .card.johnny-card {
        grid-area: 2/1/3/5;
    }

    .card.jean-card {
        grid-area: 3/1/3/5;
    }

    .card.patty-card {
        grid-area: 4/1/4/5;
    }
    .card.kira-card {
        grid-area: 5/1/5/5;
    }
}